.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.container-form{
	padding: 20px;
	margin: 10px;
	width: 33%;
	background: skyblue;
}
.container-username{
	padding: 10px;
	margin: 10px;
}
.container-password{
	padding: 10px;
	margin: 10px;
}

.container-button{
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.button{
	width: 50%;
	align-self: center;
}
.green{
	background: green;
	font-size: 21px;
	font-family: cursive;
	border-radius: 10%;
	padding: 5px;
	margin: 5px;
}

.username-text{
	font-size: 21px;
	font-family: cursive;
}

.username-box{
	height: 21px;
	margin: 5px;
	padding: 5px;
}

.password-box{
	height: 21px;
	margin: 5px;
	padding: 5px;
}

.password-text{
	font-size: 21px;
	font-family: cursive;
}
.container-warning{
	display: flex;
	padding: 20px;
	margin: 10px;
	width: 33%;
}
.items{
	font-size: 15px;
	color: red;
	padding:5px;
	margin: 5px;
}
.valid{
	color: green;
}